html {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
h1 {
font-size: 1.8rem;
color: white;
}
h2{
font-size: 1.5rem;
font-weight: bold;
color: #143642;
}
h3{
font-size: 2.5rem;
font-weight: bold;
color: #143642;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;

}

.wholeApp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.topnav {
/* overflow: hidden; */
background-color: #07a0a2;
}
.topnav{
    font-size: medium;
    min-height:80px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px;
}
.topnav-name{
    font-size: 1.50rem;
    font-weight:600;
}
.reachlogo{
    width:15%;
    /* background-color: black; */
}
body {
margin: 0;
}
.content {
width:100%;
}

.titles{
    text-decoration: underline;
    /* margin-top: 5px; */
    display:flex;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    /* background-color: black; */
}

.descriptions{
    /* margin-top: 20px; */
    /* line-height:50px; */
    font-size:21px;
    font-weight:800;
    text-align: right;
}
.card {
    background-color: #efefef;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.menu{
background-color: #efefef;
box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
display:flex;
flex-direction: column;
align-items: flex-start;
}
.buttons{
margin-top: 19px;
display:flex;
flex-direction: column;
background-color: #efefef;
justify-content: center;

}
.statusstate{
    margin:0;
    text-decoration: underline;
    font-size:3rem;
}
.state {
    font-size: medium;
    color:black;
    font-weight: bolder;
    margin:0;
    font-size:1.5rem;
}
.functionOptions{
    font-size: medium;
    color:black;
    font-weight: bolder;
    margin:0;

}
.menu{
    display:none;
}

.firstSet{
border-width: 3px;
border-radius:10px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #FFB52E;
border-style: solid;
max-height:150px;
margin-top:4%;
max-width:1500px;
margin-left:7%;
margin-right:7%;
}


.grill{
    height:30%;
    width:30%;
    max-height:100px;   
    max-width:100px;
}

.baking{
    height:35%;
    width:35%;
    max-height:100px;   
    max-width:100px;
}

.secondSet{
border-width: 3px;
border-radius:10px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #A668A6;
border-style: solid;
max-height:150px;
margin-top:4%;
max-width:1500px;
margin-left:7%;
margin-right:7%;
}

.rotisserie{
    height:30%;
    width:30%;
    max-height:100px;   
    max-width:100px;
}
.thirdSet{
border-width: 3px;
border-radius:10px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #F7A4A4;
border-style: solid;
margin-top: 50px;
margin-bottom:50px;
margin-right:7%;
margin-left:7%;
}
.fourthSet{
border-width: 3px;
border-radius:10px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #10BBE5;
border-style: solid;
margin-top: 50px;
margin-bottom:50px;
margin-right:3%;
margin-left:3%;
} 
.buttonInner{
display:flex;
cursor: pointer;
justify-content: space-evenly;
align-items: center;
padding: 16px;
}
.bottomnav{
    width: 100%;
    padding-top: 30px;
    display:flex;
    justify-content: space-around;
    height:100px;
    background: #07a0a2;
    border-width:1px;
    border-color: black;
    border-style:solid;
}

.leftside{
    cursor:pointer;
    width:50%;
    
}

.border{
    width:2px;
    background-color: black;
    margin-top:-30px;
}
.rightside{
    cursor:pointer;
    width:50%;
}
/* .playbuttonicon{
    background: #8CC0DE;
    border-radius: 14px;
    width: 60px;
}
.playbutton{
    background-color: #8CC0DE;
    width:180px;
    height: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */
.homebutton{
    /* background-color: #8CC0DE; */
    height:70px;
    width:86px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    
}
.homebuttonicon{
    width:75px;
    height:auto;
}

.settingsbuttonicon{
    width: 75px;
}
.settingsbutton{
    /* background-color: #8CC0DE; */
    height:70px;
    width:86px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin:auto;       
}

.alternatebottomnav{
    width:100%;
    margin-top:30px;
    display:flex;
    justify-content: space-between;
    display: none;

}
.backbuttonicon{
    width: 55px;
}
.backbutton{
    margin-left:12px;
    background-color: #8CC0DE;
    border-radius: 14px;
    height:70px;
    width:86px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;     
}
.savebuttonicon{
    padding-top:2px;
    width:55px;
}
.savebutton{
    align-items: center;
    justify-content: center;
    margin-right:12px;
    background-color: #8CC0DE;
    border-radius: 14px;
    height:70px;
    width:86px;
    display:flex;
    cursor: pointer;   
}

.resetButton{
    height:70px;
    width:380px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #8CC0DE;
    border-radius: 14px;
    cursor:pointer;
}
.thirdBottomNav{
    display:none;
    justify-content: center;
}
.function1{
    display:block; 
}

.temperature{
    display:none;
}
.duration{
    display:none;
}
.function{
    display:none;
}